body {
    background: #a9c0b0;
    color: #b31c20;
    margin: 0 auto;
}

li {
    padding: 5px;
    margin: 5px;
    background: #f4e1c1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
  }

  .container {
    background: #a9c0b0;
    color: #b31c20;
    font-family: 'Seymour One', sans-serif;
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: yellow;
  }
  
  .form-group {
    margin-bottom: 5px;
  }