<li>
	{{burger_name}}

	{{#unless devour}}
	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour Da Burger!
	</button>
	{{/unless}}

	{{#if devour}}
	<button class="delete-burger" data-id="{{this.id}}">
		Delete Da Burger!
	</button>
	{{/if}}

</li>